@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

html.dark body {
  @apply bg-slate-950 text-slate-100;
}

* {
  box-sizing: border-box;
}

.dark ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 4px;
}
.dark ::-webkit-scrollbar-track {
  background: #1e293b;
}
